.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail{
    border: 1.7px solid rgb(220, 20, 60);
    border-radius: 7px;
    box-shadow: 0 4px 5px 0 rgba(255, 0, 51, 0.459);   
    margin: 5px auto;
    margin-bottom: 15px;
    padding: 0;
    width: 80%;
    height: auto;
    align-items: center;
}






@media screen and (max-width: 800px ) {
    .thumbnail img {
        height: auto;
        width: 100%;
    }

    .thumbnail{
        padding:auto;
        width: 90%;
        margin: 0 auto;
        box-shadow: none;
    }
}