.jumbotron{
    text-align:center;
    margin: 0;
    padding:5px;
    position: relative; top: -25px;
    height: auto;
    background: linear-gradient(180deg, #dc143c);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.27);
}

h1{
    font-family:'Mountains of Christmas';
    padding: 7px;
}

