body {
  font-family: sans-serif;
  background: linear-gradient(#2985d1, #cae6f6) fixed;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}


.nopadding {
  
  margin: 0 !important;
  padding: 0 !important;
}
.container{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.card-position{
  margin: 0 !important;
  padding: 0 !important;
  

}

@media screen and (max-width: 800px ) {
  .container{
    margin: auto;
    padding: auto;
  }
  }


